.drawer {
  position: fixed;
  top: $toolbar_height;
  left: 0;
  bottom: 0;
  width: $drawer-width;
  background: $floor-color;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
  padding-top: 10px;
  z-index: 10;
}

.drawer--item {
  display: block;
  padding: 15px;
  text-decoration: none !important;
  transition: .15s;
  cursor: pointer;
  &:hover {
    background: $highest-color;
    color: $floor-color;
  }
}

@media #{$mobile-only} {
  .drawer {
    transition: .3s ease;
    will-change: transform;
    transform: translateX(-100%);

    &.isVisible {
      transform: translateX(0);
    }
  }
}