%e-transition {
  transition: transform $transition-time, opacity $transition-time;
  will-change: transform, opacity;
}

%e-fade-is-visible {
  opacity: 1;
}

.e-fade {
  @extend %e-transition;
  opacity: 0;
  pointer-events: none;
  transition-delay: .05s;
  &.isVisible {
    @extend %e-fade-is-visible;
    pointer-events: auto;
    transition-delay: $transition-time / 2;
  }
}

.e-from-left {
  @extend %e-transition;
  transform: translateX(5px);
  &.isVisible {
    transform: translate(0);
  }
}

.e-rotate {
  $icon-transition-time: .3s;
  will-change: opacity;
  transition: opacity $icon-transition-time, animation-play-state 0s linear 5s;
  animation-delay: $icon-transition-time;
  animation-duration: .8s;
  animation-name: rotate-cyclic;
  animation-timing-function: cubic-bezier(0.4, 0, 0, 1);
  animation-iteration-count: 0;

  &.isRotating {
    animation-iteration-count: infinite;
  }
}


@keyframes rotate-cyclic {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
